<h1><%= @host %></h1>

  <% if @advisories.nil? %>
  <p>Could not find any information for this host.</p>

<% elsif @advisories[@host]['upgrades'].key?('packages') && @advisories[@host]['upgrades']['packages'].count > 0 %>
  <h2>Package Updates for (<%= @advisories[@host]['upgrades']['date'] %>)</h2>

  <% @advisories[@host]['upgrades']['packages'].sort.each do |p| %>
    <%= p %><br />
  <% end %>

<% else %>
  <p>No packages pending update for this machine.</p>
<% end %>
