<table id="ossec_list" class="display">
  <tr>
    <td>Host</td>
    <td>Last Run</td>
    <td>Last Clean</td>
    <td>Changed Files</td>
  </tr>
  <% @ossec.keys.sort.each do |hostname| %>
    <tr>
      <td><%= shorthost(hostname) %></td>
      <td><%= date_only(check_child(@ossec[hostname]['ossec'], 'lastrun')) %></td>
      <td><%= date_only(check_child(@ossec[hostname]['ossec'], 'lastclean')) %></td>
      <td><pre><%= ossec_files(check_child(@ossec[hostname]['ossec'], 'changed')) %></pre></td>
    </tr>
  <% end %>
</table>

<p>To clear these changes, run the following with your root principal:</p>
<pre>remctl sul-ossec.stanford.edu ossec clean HOSTNAME</pre>
