/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require_self
 */
#top_navigation {
   float: left;
   width: 100%;
   background-color: #f4fcf2; }
#top_navigation ul {
     height: 25px;
     margin: 0 30px 20px 0;
     padding: 0; }
#top_navigation ul li {
       display: inline;
       list-style-type: none;
       margin: 0;
       padding: 0; }
#top_navigation ul li a {
         float: left;
         font-size: 10pt;
         font-weight: normal;
         margin: 0;
         padding: 4px 8px 6px;
         background-color: #D2C295;
         border-color: #f4fcf2;
         border-style: solid;
         border-width: 1px;
         color: #2f3c4c;
         text-decoration: none; }
#top_navigation ul li a:hover {
           background-color: #8c7a6e; }
#top_navigation ul li a.selected {
         background-color: #8C1515;
         border: 1px solid;
         border-color: #8C1515;
         color: #ffffff;
         font-weight: bold; }
